name: release

on:
  push:
    tags: ["v*"]

permissions:
  contents: write

jobs:
  release-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Build
        run: make build

      - name: Package
        run: make package

      - name: Checksum
        run: make check-sum

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./bin/colstr-mac.tar.gz
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
